[submodule "HelloFoundry/lib/forge-std"]
	path = HelloFoundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "BasicTest/lib/forge-std"]
	path = BasicTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SetSolidityCompilerVersion/lib/forge-std"]
	path = SetSolidityCompilerVersion/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Remappings/lib/forge-std"]
	path = Remappings/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Remappings/lib/solmate"]
	path = Remappings/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "autoFormatCode/lib/forge-std"]
	path = autoFormatCode/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ConsoleLog/lib/forge-std"]
	path = ConsoleLog/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Authentication/lib/forge-std"]
	path = Authentication/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "TestError/lib/forge-std"]
	path = TestError/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EventTest/lib/forge-std"]
	path = EventTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "TimeTest/lib/forge-std"]
	path = TimeTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SendETH/lib/forge-std"]
	path = SendETH/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Signature/lib/forge-std"]
	path = Signature/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "GasLess/lib/forge-std"]
	path = GasLess/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "GasLess/lib/openzeppelin-contracts"]
	path = GasLess/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "GasLess/lib/solmate"]
	path = GasLess/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "Fork/lib/forge-std"]
	path = Fork/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Mint1MDaiMainnet/lib/forge-std"]
	path = Mint1MDaiMainnet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FuzzTest/lib/forge-std"]
	path = FuzzTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "InvariantTesting/lib/forge-std"]
	path = InvariantTesting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FFI/lib/forge-std"]
	path = FFI/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DifferentialTest/lib/forge-std"]
	path = DifferentialTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
